
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

.hide{
    display: none;
}

/* shared color */
.secondary-bg{
    background-color: #FFF8F3;
}
.primary-color{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}

.btn-primary{
    padding: 18px 32px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.btn-primary i{
    padding-right: 10px;
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner style */
.banner{
    margin: 0 35px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-content{
    max-width: 580px;
}
.banner .banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner .banner-title{
    font-size: 85px;
    font-weight: bold;
    line-height: 0%;
    padding-bottom: 20px;
}
.banner .banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
.banner .banner-btn-contact{
    padding: 16px 32px;
    background-color: white;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #FD6E0A;
    margin-left: 30px;
}
.banner .banner-profile-pic{
    width: 580px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin: 130px 0;
}

/* about design */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about .about-items{
    display: flex;
    justify-content: space-around;
}
.about .about-items .item-title{
    font-size: 20px;
    line-height: 0%;
}
.about .about-items .item-description{
    font-size: 20px;
    font-weight: bold;
}

/* skill section design */
.skill-section-description{
    padding: 0px 100px;
    font-size: 18px;
    color: #757575;
}

.skills-container{
    display: flex;
    gap:24px;
    justify-content: space-between;
    margin-top: 50px;
}
.skills-container .skill{
    padding: 33px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
.skills-container .skill .skill-title{
    font-size: 20px;
    font-weight: bold;
}
.skills-container .skill .skill-description{
    font-size: 16px;
}

/* resume section design */

.resume-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
}
.resume-container .resume-column .column-title{
    font-size: 30px;
    font-weight: bold;
}
.experience .experience-title{
    font-size: 25px;
    font-weight: bold;
}
.experience .experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    line-height: auto;
}
.experience .experience-description{
    font-size: 18px;
    line-height: 28px;
    width: 511px;
}
.resume hr{
    color: #D1D1D1;
    width: 90%;
    margin: 0;
}
.resume-btn{
    margin-top: 50px;
}
.resume-btn-item{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

/* footer style */
footer{
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}
.footer-icons{
    margin-top: 30px;
}
.footer-icons a img{
    margin-right: 24px;
}
footer .footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    width: 100%;
    display: block;
    padding: 18px 20px;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 24px;
}

/* small device */
@media screen and (max-width: 576px) {
    /* main section margin */
    main section{
        margin: 50px 0;
    }

    /* about section */
    .about{
        padding: 20px;
    }
    .about .about-items, .skills-container, .resume-container{
        flex-direction: column;
    }
    .about .about-items .item-title, .about .about-items .item-description{
        font-size: 16px;
    }
    .section-title{
        font-size: 25px;
    }
    .section-description{
        font-size: 16px;
    }
    /* skill section */
    .skill-section-description{
        padding: 16px;
        font-size: 16px;
    }
    /* resume section */
    .resume{
        padding: 16px;
    }
    .experience .experience-description{
        width: 100%;
    }
    .resume-container .resume-column .column-title{
        font-size: 23px;
    }
    .experience .experience-title{
        font-size: 20px;
    }
    .experience .experience-subtitle{
        font-size: 18px;
    }
    .experience .experience-description{
        font-size: 16px;
    }
    /* button */
    .btn-primary{
        padding: 14px 20px;
        font-size: 16px;
    }
    /* footer style */
    footer{
        flex-direction: column;
        padding: 16px;
    }
    footer .footer-column{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* main section margin */
    main section{
        margin: 60px 0;
    }
    /* about section */
    .about{
        padding: 20px;
    }
    .about .about-items{
        flex-direction: column;
    }

     /* skill section */
    .skill-section-description{
        padding: 16px;
    }
    .skills-container{
        flex-direction: column;
    }
    /* resume section */
    .resume{
        padding: 16px;
    }
    .resume-container{
        flex-direction: column;
    }
    .experience .experience-description{
        width: 100%;
    }
    /* button */
    .btn-primary{
        padding: 16px 24px;
        font-size: 18px;
    }
    /* footer style */
    footer{
        flex-direction: column;
        padding: 16px;
    }
    footer .footer-column{
        width: 100%;
    }
}